body{
    background-color: beige;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color:brown;
    border-width: 2px;
    width: 70%;
}
h1{color: rgb(36, 11, 11);}
h3{color: rgb(243, 17, 17);}