body{
    background-color: lightgreen;
}
.Work{
    
    background-color: darkgoldenrod;
}
.Subjects{
    background-color: darkgoldenrod;
    
}
.Skills{
    background-color: darkgoldenrod;
}
.Details{
    background-color: darkgoldenrod;
}